In [1]:
import pandas as pd

In [3]:
past_data=pd.read_csv('./usdjpy.csv')
predict_data=pd.read_csv('./predict.csv')

In [4]:
past_data.head(-1)

                     Time     Open     High      Low    Close
0     2019-03-25 09:00:00  110.096  110.137  109.758  109.813
1     2019-03-25 10:00:00  109.810  109.860  109.708  109.836
2     2019-03-25 11:00:00  109.832  109.852  109.762  109.788
3     2019-03-25 12:00:00  109.785  109.856  109.774  109.854
4     2019-03-25 13:00:00  109.850  110.010  109.837  109.978
...                   ...      ...      ...      ...      ...
4994  2020-01-11 01:00:00  109.564  109.574  109.450  109.504
4995  2020-01-11 02:00:00  109.502  109.504  109.433  109.479
4996  2020-01-11 03:00:00  109.482  109.540  109.482  109.536
4997  2020-01-11 04:00:00  109.538  109.556  109.512  109.522
4998  2020-01-11 05:00:00  109.520  109.533  109.484  109.506

[4999 rows x 5 columns]

In [25]:
previos_close=past_data.loc[4999,'Close']

In [26]:
previos_close

109.471

In [31]:
predict_price_open=predict_data.loc[0,'Open']
predict_price_high=predict_data.loc[0,'High']
predict_price_low=predict_data.loc[0,'Low']
predict_price_close=predict_data.loc[0,'Close']

In [32]:
price_increase=predict_price_open-previos_close

In [33]:
price_increase

0.08899999999999864